/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* Дублируем только те переменные, которые меняются между темами */

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-title-color: #db00ff;

  --btn-color: var(--accent-color);
  --btn-hover-border: rgba(255, 0, 112, 0.4);

  --decor-color: var(--accent-color);
  --title-decor-color: #000028;
  --title-decor-bg: var(--accent-color);

  --second-title: var(--accent-color);
}
