.header__decor {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  color: var(--decor-color);
  font-weight: 400;
  line-height: 139%;
  text-align: center;
  text-transform: uppercase;
}

.header__decor::after {
  content: '';
  width: 9px;
  margin: 0 10px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--decor-color);
  background-color: var(--decor-color);
  aspect-ratio: 1/1;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  aspect-ratio: 1/1;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--title-decor-bg);
}

.title-decor_bold {
  font-weight: 700;
}
