/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family, Verdana, Tahoma, sans-serif);
  font-size: var(--font-size, 18px);
  background-color: #001344;
  background-image: var(--page-bg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  margin: var(--page-margin);
}

.header__theme-menu {
  grid-column: 1/-1;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  color: var(--btn-color);
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  transition: all 0.3s ease;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--btn-hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

.main-title {
  grid-column: 1/-1;
  color: var(--main-title-color);
  font-weight: 700;
  font-size: var(--main-title-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: center;
  line-height: 130%;
}

.content {
  margin: 0 var(--page-margin);
  padding-block: var(--padding-block);
}

.content__section-title {
  color: var(--second-title);
  font-weight: 700;
  font-size: inherit;
  line-height: 130%;
}

.content__section:not(:last-of-type) {
  margin-bottom: var(--section-gap);
}

.content__section-title,
.content__section-subtitle {
  margin-bottom: var(--section-title-margin);
}

.content__section_horizontal .cards__item:not(:last-child) {
  margin-bottom: var(--section-title-margin);
}

.content__section_vertical .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  margin-bottom: 10px;
}

.card__content {
  color: var(--card-text);
  font-size: inherit;
  line-height: 130%;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  margin: var(--page-margin);
  padding-block: var(--padding-block);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__text {
    grid-column: 2/-1;
  }

  .main-title {
    margin-left: -20px;
  }

  .content__section_horizontal {
    display: grid;
    grid-template-columns: 32.5% 64.7%;
    gap: 20px;
  }

  .content__section_vertical {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__section_vertical .cards {
    grid-column: 1/-1;
  }

  .content__section-title {
    margin-bottom: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__section_horizontal {
    grid-template-columns: 32% 65.9%;
  }

  .content__section_vertical .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
