/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding: var(--page-padding);
  font-family: var(--font-family, Verdana, Tahoma, sans-serif);
  font-size: var(--font-size, 18px);
  background-color: #001344;
  background-image: var(--page-bg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  outline: 1px solid red;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 6px 5px;
  color: var(--btn-color);
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  transition: all 0.3s ease;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--btn-hover-border);
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

.main-title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: var(--main-title-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
  }

  .main-title {
    margin-left: -20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

/* удалить в конце */
section {
  min-height: 500px;
}
